body{
  background-image: url("images/image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding:0px;
  margin:0px;
}
h1{
  color:#b3ebff;
  text-shadow: 2px 2px 0px #8c466c;
  font-family: serif;
  text-align:center;
  line-height: 20px;
}
a:hover{
  color:green;
  text-decoration: underline;
}
.container{
  width: 500px;
  margin: 0 auto;
}
.card-white{
  padding: 0px;
  color:#b3ebff;
  text-shadow: 2px 2px 0px #8c466c;
  font-family: serif;
  text-align:center;
  line-height: 20px;
}
li{
  font-size: 50px;
  margin-right:20px;
  display: inline-block;
  list-style-type:none;
  color:#b3ebff;
}
.list-inline{
  list-style: none;
  padding-left: 0px;
}
.bottom{
  padding-top:50px;
}
img{
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:50%;
  border-radius: 8px;
}
button{
  background-color:#8c466c;
  border-radius: 10px;
  display:inline-block;
  border:none;
  color:#b3ebff;
}
button:hover{
  background-color:#b3ebff;
  color:#8c466c;
}
